.pgBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pgWrapper {
  font-family: 'Fira Code', monospace;
  width: 400px;
}

/* Title */
.pgWrapperTitle {
  color: #72707F;
  font-weight: 500;
  font-size: 23px;
}

.pgWrapperTitle {
  text-align: center;
}

/* Screen */
.pgScreen {
  border: 1px solid #444c56;
  background: #22272e;
  color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.pgScreen .pgCopyIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pgScreen .pgCopyIcon svg {
  font-size: 20px;
  color: #A4FFAF;
}

/* Content */
.pgContent {
  border: 1px solid #444c56;
  background: #22272e;
  color: #ddd;
  padding: 20px;
  margin-top: 20px;
}

/* Char Length */
.pgCharLength {
  margin-bottom: 20px;
}

.pgCharLengthHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.pgCharLengthHead h4 {
  margin: 0;
  font-weight: 500;
}

.pgCharLengthHead span {
  font-size: 23px;
  color: #A4FFAF;
}

.pgCharLengthRange input {
  width: 100%;
}

/* Custom Checkbox Container */
.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.checkboxContainer input {
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  appearance: none;
  margin: 0;
  margin-right: 10px;
  margin-left: 0;
}

.checkboxContainer input:checked~.checkmark {
  background-color: #ddd;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
}

/* PG Generate Button */
.pgGenerate {
  margin-top: 15px;
}

.pgGenerate button {
  background: #A4FFAF;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  box-shadow: none;
  outline: none;
}

/* Custom Range Slider */
.sliderRange[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 12px;
  cursor: pointer;
  border-radius: 0;
}

.sliderRange::-webkit-slider-runnable-track {
  background: #101118;
}

.sliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #E6E5EA;
  box-shadow: -200px 0 0 200px #A4FFAF;
}

.sliderRange::-moz-range-track {
  height: 40px;
  background: #ddd;
}

.sliderRange::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px #A4FFAF;
  box-sizing: border-box;
}

.sliderRange::-ms-fill-lower {
  background: #A4FFAF;
}

.sliderRange::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

.sliderRange::-ms-ticks-after {
  display: none;
}

.sliderRange::-ms-ticks-before {
  display: none;
}

.sliderRange::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

.sliderRange::-ms-tooltip {
  display: none;
}

/* Strength Levels */
.pgStrength {
  background: #101118;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 30px;
}

.pgStrength h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.pgStrengthBar {
  display: flex;
}

.pgStrengthLevel {
  display: flex;
  align-items: center;
}

.pgStrengthLevel h5 {
  margin-right: 10px;
}

.pgStrengthBar div {
  width: 8px;
  height: 24px;
  margin: 0 4px;
  border: 2px solid #ddd;
}

.pgStrengthBar div.Weak {
  background-color: #3366FF;
  border-color: #3366FF;
}

.pgStrengthBar div.Easy {
  background-color: #52BD95;
  border-color: #52BD95;
}

.pgStrengthBar div.Medium {
  background-color: #FFB020;
  border-color: #FFB020;
}

.pgStrengthBar div.Strong {
  background-color: #D14343;
  border-color: #D14343;
}

.pgStrengthBar div.Weak:nth-child(2),
.pgStrengthBar div.Weak:nth-child(3),
.pgStrengthBar div.Weak:nth-child(4),
.pgStrengthBar div.Easy:nth-child(3),
.pgStrengthBar div.Easy:nth-child(4),
.pgStrengthBar div.Medium:nth-child(4) {
  border-color: #ddd;
  background-color: transparent;
}

/* Errros */
.error {
  color: #D14343;
  margin-top: 5px;
}